
body{
	background-color: beige;
}

.Container{	
	
	display: flex;	
	flex-direction: column;	
	
}

.Container h2, h4, h1{
	height: 0px !important;
}

.Container h1{
	color: darkgoldenrod;
}
.Container h4{
	text-align: center;
}



.comp_conatainer{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 50px;


}


.bg-body-tertiary{
	background-color: bisque !important;
	height: 80px !important;
	margin-bottom: 50px !important;
	z-index: 1;
}

.brand{
	font-size: 35px;
	color:tomato;
	font-weight: 700;
}

.title_con ul{	
	width: 100%;
	height: 100%;
	display: flex;
	list-style: none;
	justify-content: space-around;
	align-items: center;
	margin: 0;
	font-size: 25px;
	color: cadetblue;
	&:hover{
		cursor: pointer;
	}
}

