.Container{	
	
	display: flex;	
	flex-direction: column;	
	
}

.Container h2, h4, h1{
	height: 0px !important;
}

.Container h1{
	color: darkgoldenrod;
}
.Container h4{
	text-align: center;
}



.comp_conatainer{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	gap: 30px;
}

.title_s { 
    width: 100%; 
    color: coral;
    height: 100%;
    text-align: center; 
    
    display: flex; 
    justify-content: center;
    align-items: center;
	
}

.title_s h1 {
    margin-bottom: 50px;
}

.title_con{
	
	height: 100px;
	background-color: bisque;
	margin-bottom: 50px;	
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.title_con ul{	
	width: 100%;
	height: 100%;
	display: flex;
	list-style: none;
	justify-content: space-around;
	align-items: center;
	margin: 0;
	font-size: 25px;
	color: cadetblue;
	&:hover{
		cursor: pointer;
	}
}

